@model Hotel

@{
    //Razor Block
    ViewData["Title"] = "Hotel Details";
}
<h2>Hotel Details</h2>
<div class="card">
    <div class="card-body">
        <h3 class="card-title">@Model.Name</h3>
        <p class="card-text">@Model.Amentities</p>
        <dl class="row">
            <dt class="col-sm-3">Hotel Number</dt>
            <dd class="col-sm-9">@Model.HotelId</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-3">Location</dt>
            <dd class="col-sm-9">@Model.Location</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-3">Price</dt>
            <dd class="col-sm-9">@Model.Price</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-3">Reviews</dt>
            <dd class="col-sm-9">@Model.Reviews</dd>
        </dl>
        <a asp-controller="Bookings" asp-action="Index" asp-route-id="@Model.HotelId" class="btn btn-primary">View Tasks</a>
        <a asp-controller="Hotels" asp-action="Edit" asp-route-id="@Model.HotelId" class="btn btn-primary">Edit</a>
        <a asp-controller="Hotels" asp-action="Index" class="btn btn-secondary">Back to List</a>
     </div>      
</div>
