@model List<Hotel>
@{
    ViewData["Title"] = "Hotel Listing";
}

<h2>Hotel Listing</h2>

@if(Model.Any()){
    <table class="table">
        <thread>
            <tr>
                <td>ID</td>
                <td>Name</td>
                <td>Price</td>
                <td></td>
                <td></td>
            </tr>
        </thread>
        
        @foreach(var project in Model) {
            <tbody>
                <tr>
                    <td>@project.HotelId</td>
                    <td>
                        <a asp-controller="Hotels" asp-action="Details" asp-route-id="@project.HotelId">@project.Name</a>
                    </td>
                    <td>@project.Price</td>
                    <td><a asp-controller="Bookings" asp-action="Index" asp-route-id="@project.HotelId" class="btn btn-primary">View Bookings</a></td>
                    <td><a asp-controller="Hotels" asp-action="Delete" asp-route-id="@project.HotelId" class="btn btn-primary">Delete</a></td>
                </tr>
            </tbody>
        }
        
    </table>
}else{
    <p>No hotels found</p>
}