@model List<Hotel>
@{
    ViewData["Title"] = "Hotel Listing";
}

<h2>Hotel Listing</h2>

<p>
    <a asp-controller="Home" asp-action="Index" class="btn btn-primary">Return to make a Booking</a>
</p>

<a asp-controller="Flights" asp-action="Search" asp-route-destination="@ViewBag.Destination" asp-route-departureDate="@ViewBag.DepartureDate"
   asp-route-returnDate="@ViewBag.ReturnDate" class="btn btn-primary">Skip to Flights</a>

@if (Model.Any()) {
    <p>@Model.Count hotels found!</p>
    <table class="table">
        <thread>
            <tr>
                <td></td>
                <td>
                    <a asp-controller="Hotels" asp-action="Search" asp-route-destination="@ViewBag.Destination" asp-route-departureDate="@ViewBag.DepartureDate"
                       asp-route-returnDate="@ViewBag.ReturnDate" asp-route-sort="Name" class="btn btn-primary">Sort by Name</a>
                </td>
                <td>
                    <a asp-controller="Hotels" asp-action="Search" asp-route-destination="@ViewBag.Destination" asp-route-departureDate="@ViewBag.DepartureDate"
                       asp-route-returnDate="@ViewBag.ReturnDate" asp-route-sort="Reviews" class="btn btn-primary">Sort by Reviews</a>
                </td>
                <td>
                    <a asp-controller="Hotels" asp-action="Search" asp-route-destination="@ViewBag.Destination" asp-route-departureDate="@ViewBag.DepartureDate"
                       asp-route-returnDate="@ViewBag.ReturnDate" asp-route-sort="Price" class="btn btn-primary">Sort by Price</a>
                </td>
                <td></td>
            </tr>
        </thread>

        @foreach (var hotel in Model) {
            <tbody>
                <tr>
                    <td>
                        <img src="@Href("/img/hotel-" + hotel.HotelId + ".jpg")" width="160" />
                    </td>
                    <td>
                        <a asp-controller="Hotels" asp-action="Details" asp-route-id="@hotel.HotelId">@hotel.Name</a>
                    </td>
                    <td>@hotel.Reviews</td>
                    <td>$@hotel.Price</td>
                    <td>
                        <a asp-controller="Flights" asp-action="Search" asp-route-destination="@ViewBag.Destination" asp-route-departureDate="@ViewBag.DepartureDate" 
                         asp-route-returnDate="@ViewBag.ReturnDate" asp-route-hotelId="@hotel.HotelId" class="btn btn-primary">Book</a>
                    </td>
                </tr>
            </tbody>
        }

    </table>
}
else {
    <p>No hotels found</p>
}