@model Booking
@{
    ViewData["Title"] = "Confirm Your Booking"; //sets the title of the view to "CHoHotelct Task"
}

<h2>Confirm Your Booking</h2>
<form asp-action="Create" method="post">
    <!-- Indicates that the form data will be submitted to the Create action of the current controller-->
    <p>Your trip itinerary:</p>
    <p>From @ViewBag.DepartureDate to @ViewBag.ReturnDate</p>
    <p>Staying at @ViewBag.Hotel.Name</p>
    <p>Flying with @ViewBag.Flight.Airline</p>
    <input type="hidden" name="StartDate" value="@ViewBag.DepartureDate" readonly />
    <input type="hidden" name="EndDate" value="@ViewBag.ReturnDate" readonly />
    <input asp-for="HotelId" class="form-control" type="hidden" />
    <input asp-for="FlightId" class="form-control" type="hidden" />
    <div class="form-group">
        <label class="control-label"></label>
        <input type="submit" value="Finish Booking" class="btn btn-primary">
    </div>
</form>
