@model Booking

@{
    //Razor Block
    ViewData["Title"] = "Booking Details";
}
<h2>Booking Details</h2>
<div class="card">
    <div class="card-body">
        <h3 class="card-title">@Model.BookingId</h3>
        <dl class="row">
            <dt class="col-sm-3">Booking Id</dt>
            <dd class="col-sm-9">@Model.BookingId</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-3">From</dt>
            <dd class="col-sm-9">@Model.StartDate</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-3">To</dt>
            <dd class="col-sm-9">@Model.EndDate</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-3">Hotel Name</dt>
            <dd class="col-sm-9">@Model.Hotel.Name</dd>
        </dl>
        <a asp-controller="Bookings" asp-action="Edit" asp-route-id="@Model.BookingId" class="btn btn-primary">Edit Task</a>
        <a asp-controller="Bookings" asp-action="Index" class="btn btn-secondary">Back to List</a>
    </div>
</div>
